{#
/**
 * @file
 * Template file for fblikebutton.
 *
 * The variable of primary importance is src. This is generated and sanitized
 * the preprocess function. As facebook's services change frequently you can
 * override these settings without altering this module by overriding the
 * preprocess function in your theme's pages.inc file. The overriding
 * preprocessor should be a function named MYTHEME_preprocess_fblikebutton. You
 * can also override the output of this file by copying it into your own theme
 * directory. For maintainability you should not alter this file on your site as
 * it will lead to complications when updating the module later.
 *
 */
#}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/{{ language }}/sdk.js#xfbml=1&version=v21.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="{{ url }}" data-width="{{ width }}" data-colorscheme="{{ colorscheme }}" data-layout="{{ layout }}" data-action="{{ action }}" data-size="{{ size }}" data-share="true"></div>
